<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="navigationBar(page, fragment)">
<head>
    <meta charset="UTF-8"/>
    <title>Cities</title>

    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <style>
        #anim{max-width: 800px; margin:0 auto;}
    </style>
</head>
<body>

<!-- Navigation -->
<div th:include="${page} :: ${fragment}"></div>

<!-- Switch search -->
<div class="container">
    <button>
        <a class="nav-link" th:href="|cities|">City</a>
    </button>
    <button>
        <a class="nav-link" th:href="|country|">Countries</a>
    </button>
    <button>
        <a class="nav-link" th:href="|languages|">Languages</a>
    </button>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-10 mt-5 mb-5">
            <table id="example" class="table table-bordered" style="width: 100%">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>CountryCode</th>
                    <th>District</th>
                    <th>Population</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="city : ${cities.page.content}">
                    <td th:text="${city.id}">Id</td>
                    <td th:text="${city.name}">Name</td>
                    <td th:text="${city.countrycode}">CountryCode</td>
                    <td th:text="${city.district}">District</td>
                    <td th:text="${city.population}">Population</td>
                </tr>
                </tbody>
            </table>

            <nav aria-label="Page navigation" class="paging">
                <ul class="pagination" th:if="${cities.page.totalPages > 1}">
                    <li class="page-item" th:classappend="${!cities.paging.isPrevEnabled()? 'disabled' : ''}">
                        <a class="page-link" th:href="@{'cities?pageNumber=' + ${cities.paging.pageNumber - 1} + ${countrycode}}"
                           tabindex="-1">Previous</a>
                    </li>
                    <th:block th:each="item : ${cities.paging.getItems()}">
                        <li class="page-item" th:classappend="${item.index == cities.paging.pageNumber? 'active' : ''}"
                            th:if="${item.pageItemType.name() == 'PAGE'}">
                            <a class="page-link" th:href="@{'cities?pageNumber=' + ${item.index} + ${countrycode}}"
                               th:text="${item.index}"></a>
                        </li>
                        <li class="page-item disabled" th:if="${item.pageItemType.name() == 'DOTS'}">
                            <a class="page-link" href="#">...</a>
                        </li>
                    </th:block>
                    <li class="page-item" th:classappend="${!cities.paging.isNextEnabled()? 'disabled' : ''}">
                        <a class="page-link" th:href="@{'cities?pageNumber=' + ${cities.paging.pageNumber + 1} + ${countrycode}}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

<script>


</script>

</body>
</html>