<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="navigationBar(page, fragment)">
<head>
    <meta charset="UTF-8"/>
    <title>Contact</title>

    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link rel="stylesheet" href="/css/styles.css"/>

</head>
<body>

<!-- Navigation -->
<div th:include="${page} :: ${fragment}"></div>

<div class="container">
    <h3>Contact info</h3>
    <ul>
        <li>Github: patsti</li>
    </ul>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

<script>


</script>

</body>
</html>