<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="navigationBar(page, fragment)">
<head>
    <meta charset="UTF-8"/>
    <title>Quiz</title>

    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link rel="stylesheet" href="/css/styles.css"/>
    <style>
        #anim{max-width: 800px; margin:0 auto;}
        #correct_answer{max-width: 800px; margin:0 auto;}
        #wrong_answer{max-width: 800px; margin:0 auto;}
    </style>
</head>
<body>

<div th:include="${page} :: ${fragment}"></div>

<div class="container">
    <h2 style="text-align:center">--Click on the matching City and Country--</h2>
</div>

<div th:id="${animation}">

<button id="child_div1" th:class="${navigation.getCss('1')}" th:onclick="|window.location.href='gameredir?selected=${navigation.onGuessClicked(1)}'|" th:text="${guessOptions.get(0).getName()}"/>
<button id="child_div2" th:class="${navigation.getCss('2')}" th:onclick="|window.location.href='gameredir?selected=${navigation.onGuessClicked(2)}'|" th:text="${guessOptions.get(1).getName()}"/>
<button id="child_div3" th:class="${navigation.getCss('3')}" th:onclick="|window.location.href='gameredir?selected=${navigation.onGuessClicked(3)}'|" th:text="${guessOptions.get(2).getName()}"/>
<button id="child_div4" th:class="${navigation.getCss('4')}" th:onclick="|window.location.href='gameredir?selected=${navigation.onGuessClicked(4)}'|" th:text="${guessOptions.get(3).getName()}"/>


</div>

<script src="/scripts/lottie.js"/>
<script src="/scripts/script.js"/>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

<script>


</script>

</body>
</html>