<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="navigationBar(page, fragment)">
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>

    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link rel="stylesheet" href="/css/styles.css"/>

</head>
<body>

<div th:include="${page} :: ${fragment}"></div>

<div class="container">
    <h2>The World Quiz!</h2>
    <p>So you think your know which cities are where? Play the Game to and claim your throne!</p>
    <p>How it works: you will get some options of cities and countries, select which you think are connected</p>
   <h3>Connected projects</h3>
    <ul>
        <li>GUI: WorldUI (This project)</li>
        <li>RestAPI: WorldsRestApi</li>
        <li>Database: PostgreDB loaded with MySqls world database.</li>
    </ul>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

<script>


</script>

</body>
</html>