<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Navigation bar -->
<div th:fragment="navigationbar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" href="/">Geo-knowledge the quiz!</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto" >
                    <li th:each="navItem : ${menuItems.getMenu()}" th:class="@{'nav-item' + ${navItem.isActiveCss()}}">
                        <a class="nav-link" th:href="@{${navItem.getHtmlName()}}" th:text="${navItem.getName()}"/>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</html>